#dealer-info {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#dealer-details {
    flex: 1;
    padding: 15px;
}

#dealer-reviews {
    flex: 1;
}